.app {
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn-action {
    display: flex;
    justify-content: center;
}

.user-field {
    /* display: flex;
    justify-content: center; */
}