.app {
    max-width: 900px;
    min-height: 480px;
    margin: 0 auto;
    box-sizing: border-box;
}

.enemy {
    position: fixed;
    /* center the element */
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    /* min-height: 10em; */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-table {
    position: fixed;
    top: 50%;
    margin-top: -88px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto; 

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: start;

}

.deck {
    position: absolute;
    top: 50%;
    margin-top: -88px;
    right: -30px;
}

.table {
    
}

.user-field {
    position: fixed;
    /* center the element */
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    /* min-height: 10em; */
    width: 100%;
}

.btn-action {
    position: absolute;
    bottom: 16px;
    right: calc(50% - 350px);
    min-width: 142px;
    width: 142px;
    z-index: 1000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 

    .deck, ul, .mid-table {
        transform: scale(0.9);
    }

    .deck {
        right: -70px;
    }

    .table {
        margin-left: -76px;
    }

    .enemy {
        margin-top: -10px;
    }

    .user-cards {
        margin-bottom: -10px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .deck, ul, .mid-table {
        transform: scale(0.7);
    }

    .deck {
        right: -70px;
    }

    .mid-table {
        margin-top: -163px;
    }

    .enemy {
        margin-top: -25px;
    }

    .user-cards {
        margin-bottom: -25px;
    }

    .btn-action {
        right: calc(50% - 232px);
        min-width: 92px;
        width: 92px;
        height: 64px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) { 

    .deck, ul, .mid-table, .btn-action {
        transform: scale(0.7);
    }

    .deck {
        right: -70px;
    }

    .mid-table {
        margin-top: -270px;
    }

    .enemy {
        margin-top: -75px;
    }

    .user-cards {
        margin-bottom: -75px;
    }

    .btn-action {
        right: 8px;
        top: -27px;
        min-width: 92px;
        width: 92px;
        height: 64px;
    }

    .user-field, .enemy {
        right: -20px;
    }
}

@media only screen and (orientation: landscape) {
    .enemy {
        margin-top: -75px;
    }

    .user-cards {
        margin-bottom: -75px;
    }

    .mid-table {
        transform: scale(0.7, 0.7);
        margin-top: -120px;
    }
}



