.card {
    cursor: pointer;
    height: 150px;
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-unavailable {
    /* color: red;
    border: solid 1px red; */
    /* border-radius: 7px; */
    -webkit-filter: brightness(80%);
}

.turn {
    
}

.trump {
    
}

.deck-full {
    position: relative;
}

.deck-closed {
    transform: rotate(90deg);
    position: absolute;
    top:-25px;
    left: 0;
    z-index: 999;
}