.deck-full {
    position: relative;
}

.deck-closed {
    position: relative;
    z-index: 1;
}

.trump {
    transform: rotate(90deg);
    position: absolute;
    top: 0px;
    left: -25px;
    z-index: 0;
}

.cards-left {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 3px;
    left: -3px;
    z-index: 2;
    font-size: 15px;
    background: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0 2px;
    min-width: 20px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}