.deck-full {
    position: relative;
    margin: 0 20px;
}

.deck-closed {
    transform: rotate(90deg);
    position: absolute;
    top:-25px;
    left: 0;
    z-index: 1;
}

.cards-left {
    position: absolute;
    top: 20px;
    left: 23px;
    z-index: 2;
    font-size: 50px;
    background: white;
    border: solid 1px red;
    border-radius: 10px;
    padding: 0 5px;
    min-width: 51px;
    text-align: center;
}

.btn-action {
    margin-top: 15px;
    margin-left: -20px;
    min-width: 142px;
}