.card {
    cursor: pointer;
    height: 150px;
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-unavailable {
    /* color: red;
    border: solid 1px red; */
    /* border-radius: 7px; */
    -webkit-filter: brightness(80%);
}