.table {
    /* min-height: 342px; */
    width: 100%;
}

.couples {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.couple {
    position: relative;
    padding-bottom: 20px;

}

.card-to-beat {
    margin-right: 20px;
    
}

.card-beated {
    position: absolute;
    top: 10%;
    left: 10%;
}

