.table {
    min-height: 300px;
    margin-left: 40px;
}

.couples {
    display: flex;
    /* position: relative; */
    justify-content: center; 
}

.card-beated {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    margin-top: -125px;
    margin-left: 10px;
}