.table {
    min-height: 342px;
}

.couples {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.couple {
    padding-bottom: 15px;
}

.card-beated {
    margin-top: -125px;
    margin-left: 10px;
}

